
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --color-one: #ff8484;
  --color-two: #f7d9c4;
  --color-text: #232323;
  --color-bg: #efefef;
  --color-bg-2: #dce8eb;
  --font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  color: var(--color-text);
}

a {
  text-decoration: none !important;
}
